.tb-line {
    margin-left:80px;
    margin-top:20px;
    margin-right:80px;
    margin-bottom: 25px;
}

.tables {
    width: 80%;
}

.sql-state {
    margin-left:80px;
    margin-top:20px;
    margin-right:80px;
    margin-bottom: 25px;
}